/* imported fontds from fonts.gooogle.com */

@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');


body{
    margin 0;
    padding 0;
   
   /* css from fotns.gooogle.com */
    font-family: font-family: 'Domine', serif;

}

.logo{
    
    width:10%;
    float:left;
    background: url("../images/spritesDark.png");
    height:50px;
    background-position: 10px 50px;
}
/*logo images*/

.leftmenu{

    float: left;
    margin: 0px 49px 0px 54px;
    
    width: 60%;
}

}

.rightmenu
{
margin: 0px 0px 0px 0px;
width:auto;
float:right;
}
ul{
    padding: 0;
    margin:0;
    list-style: none;
}
.leftmenu ul>li>a, .rightmenu ul>li>a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    text-transform: capitalize; 
}

.leftmenu ul>li ,.rightmenu ul>li{
    display: inline-block;
}

#headerBlock{
    padding :15px;
    z-index: 1;
    position: relative;
}

/* : = is  shoudo selector  */
/* property of shudo  :nth-child(index)  */
/* 
.rightmenu>ul>li:nth-child(3){
    background : red;
}

.rightmenu>ul>li:last-child{
    padding: 30px;
} */

.last a{
    border: 1px solid #fff;
    padding: 4px 20px !important;
    background: 0 0;
    border-radius: 20px;    
}

.rightmenu>li:nth-child(2)::after{
  /* background: url("../images/spritesDark.png");
  background-position: -200px 60px; */
top: 0px;
  content: '<';
  display: inline-block;
  transform: rotate(-90deg);
  color:rgb(22, 21, 21);
}

#slidersection{
color:white;
background: url("../images/10-14-50-567_1440x480.jpg");
background-repeat: no-repeat;
width:100%;
height:500px;
text-align: center;
position: absolute;
top: 0px;
padding-top: 150px;
}
#headersection>header>h1{
    font-size: 32px;

}

#slidersection>footer>form>input{

    padding:22px;
    width:60%;
    margin-top:30px;
    border-radius:5px;
    border: 0px;
}
.searchicon{
    position:relative;
    color: grey;
}

.searchicon i{
    position: absolute;
    top:2px;
    left:16px;
    font-size:20px;
}
#slidersection>footer>form>input::placeholder{
    padding:0px 30px;
    font-size: 18px;
    position: relative;
    top:1px;
    
}
.imageText{
    /* sir only putted relative here remaining thing in next .imagestext>selct */
    position: relative; 
    /* position: absolute;
    right: 293px;
    top: 301px; */
}
.imageText>select{
    position: absolute;
    right: 15px;
    top: 0px;
    border: none;
}

#imagesSection{
position:relative;
top:410px;

}

.image1{
    float:left;
    width:35%;
    margin: 0px 7px;
    
   
}
.image2{
    float:left;
    width:35%;
    margin: 0px 7px;
    
   
}
.image3{
    float:left;
    width:25%;
    margin:0px 7px;
    
}
#imagesSection img{
width: 100%;
height:300px;

}
/* #imagesSection{
width: 97%;
/* margin: 0px 97%; */
} */


    